* {background-color: #FAFF93;}
.img{text-align: center;}
.instagram{text-align: center;}
.Listalink{text-align: center;
list-style: none;
border-top: 30px;
border-left: 30px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
