* {background-color: #FAFF93;}
.sudaderas{text-align: center;}
h1{text-align: center;
color: #9F3170;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
p{color: #9F3170;
font-size: larger;}
.sudaderaproductos{
    align-items: center;
}